
@{
    ViewData["Title"] = "Manufacturer";
}

<h2>Manufacturer</h2>

<h2>Features</h2>
<p>
    @ViewBag.Features
</p>
@*<a asp-action="Manufacturer">Сайт производителя</a>
<a asp-fragment="@siteURL"></a>
@Html.ActionLink("Сайт производителя", "Redirect", new { id = phone.id })*@