@model NetShop_cw_47.Models.Phone

@{
    ViewData["Title"] = "Характеристики";
}

<h2>Features</h2>
<p>
    @ViewBag.Features
</p>

@*@Html.ActionLink("Сайт производителя", "Manufacturer", id })*@





